@model Messenger.WebApp.Models.ChatMembersViewModel

<!-- header starts -->
<header class="image-header-panel ratio_40">
    <img class="bg-img group-head-bg" src="~/chatzy/assets/images/background/group-bg.png" alt="">

    <div class="header-panel">
        <a href="#" id="close-group-info-panel-btn">
            <i class="iconsax icon-btn" data-icon="chevron-left"></i>
        </a>

        @* TODO: Settings link can be added later if needed *@
        @* <a href="group-info-setting.html">
            <i class="iconsax icon-btn" data-icon="nut"></i>
        </a> *@
    </div>

    <div class="name-panel">
        <div>
            <h2 class="fw-semibold text-white">@Model.GroupName <img src="~/chatzy/assets/images/svg/ring.svg" alt="ring"></h2>
            <h5>@Model.Members.Count() People</h5>
        </div>
        @* TODO: Edit details modal can be implemented later *@
        @* <a href="#edit-details" data-bs-toggle="modal">
            <i class="iconsax icon" data-icon="edit-1"></i>
        </a> *@
    </div>
</header>
<!-- header end -->

<!-- group info section starts -->
<section class="section-b-space">
    <div class="custom-container">
        @* Hiding feature list for now, can be enabled later *@
        @* <ul class="group-feature-list">
            ...
        </ul> *@
        <div class="group-details">
            <h6>Group Details :</h6>
            <p>@Model.GroupDescription</p>
        </div>

        @* Hiding file list for now, can be enabled later *@
        @* <div class="file-part">
            ...
        </div> *@
        <div class="members-part">
            <div class="member-title">
                <h5>Total People</h5>
                <span>@Model.Members.Count() People</span>
            </div>
            <ul class="members-list">
                @foreach (var member in Model.Members)
                {
                    <li>
                        <div class="member-box">
                            <div class="member-details">
                                <div class="position-relative">
                                    <img class="img-fluid img position-relative" src="@member.ImagePath" alt="p1">
                                    @if (member.IsAdmin)
                                    {
                                        <div class="admin-tag">GA</div>
                                    }
                                </div>
                                <div>
                                    <h5>@member.FullName</h5>
                                    <h6>@member.Status <img src="~/chatzy/assets/images/svg/smiling-eyes.svg" alt="status-icon"></h6>
                                </div>
                            </div>
                            @* TODO: Member options can be implemented later *@
                            @* <a href="#option" data-bs-toggle="modal">
                                <i class="iconsax icon-btn" data-icon="menu-meatballs"> </i>
                            </a> *@
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
</section>
<!-- group info section end-->
