@using System.Security.Claims
@using Messenger.DTOs
@using Messenger.Tools
@using Newtonsoft.Json
@model IEnumerable<MessageDto>


@{
    long selfUserId = long.Parse(User.FindFirst(ClaimTypes.NameIdentifier).Value);
    int classGroupId = 0;
    if (ViewData["classGroupId"] != null)
    {
        if (ViewData["classGroupId"] is int intValue)
        {
            classGroupId = intValue;
        }
        else if (int.TryParse(ViewData["classGroupId"].ToString(), out int groupId))
        {
            classGroupId = groupId;
        }
    }
    string[] AllowedImages = [".jpg", ".jpeg", ".png", ".gif", ".bmp", ".tiff", ".webp"];
    if (ViewData.ContainsKey("allowedImagesExtention"))
    {
        AllowedImages = ViewData["allowedImagesExtention"] as string[] ?? AllowedImages;
    }
    var _baseUrl = ViewData["baseUrl"]?.ToString() ?? "";
    var chatType = ViewData["chatType"]?.ToString() ?? "ClassGroup";
}
<input type="hidden" id="current-group-id-hidden-input" value="@classGroupId" />
<input type="hidden" id="current-group-type-hidden-input" value="@chatType" />

<!-- header starts -->
<header id="header" class=" section-t-space main-header inner-page-header">
    <div class="custom-container">
        <div class="header-panel contact-panel">
            <div class="d-flex align-items-center gap-2">
                <a href="#" id="close-chat-panel-btn">
                    <i class="iconsax icon-btn" data-icon="chevron-left"> </i>
                </a>
                <div class="profile-head">
                    <div class="profile-img">
                        <i class="iconsax" data-icon="group" style="font-size: 36px;"></i>
                    </div>
                    <div>
                        <h4 class="fw-semibold">@ViewData["ChatTitle"]</h4>
                        <small class="text-muted" id="typing-indicator-@classGroupId"></small>
                    </div>
                </div>
            </div>

            <div class="d-flex align-items-center gap-sm-3 gap-2">
                <div class="dropdown more-options dropdown-menu-end">
                    <a class="btn dropdown-toggle mt-0 p-0" href="#" role="button" data-bs-toggle="dropdown">
                        <i class="iconsax icon-btn" data-icon="menu-meatballs"> </i>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item align-items-center d-flex" href="#" onclick="GetChatMembers('@classGroupId', '@chatType')">
                                <i class="iconsax" data-icon="group"></i>&nbsp;
                                <span>اعضای گروه</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- header end -->

<!-- group chat section starts -->
<section class="section-lg-b-space position-relative pt-0" id="chat_content">
    <img class="img-fluid chat-bg" src="" alt="wallpaper">
    <div class="custom-container">
       
        <div id="newMessagesNotice" class="sticky-top mt-4 pb-2 btn btn-primary" style="display:none; cursor:pointer; z-index: 10; padding-bottom: 5px !important; margin-bottom: 5px;" data-newCount="0">
            مشاهده پیام‌های جدید
        </div>
        <input type="hidden" id="lastMessageIdLoad" value="@(Model.Count() > 0 ? Model.Last().MessageId : 0)" />
        <input type="hidden" id="hasMoreMessages" value="@(Model.Count() >= 50 ? true : false)" />

        <div id="Message_Days">
            @{
               
                var today = DateTime.Today;
                var yesterday = today.AddDays(-1);
                bool createdTodayBodyMessage = false;

                var groupedMessages = Model.OrderBy(m => m.MessageDateTime).GroupBy(m => m.MessageDateTime.Date);
            }
            @foreach (var group in groupedMessages)
            {
                string dateLabel;
                string todayMessageContent = "";
                string dateClass = "date-" + @group.Key.ToString("yyyy-MM-dd");
                if (group.Key == today)
                {
                    dateLabel = "امروز";
                    todayMessageContent = "chatMessages";
                    createdTodayBodyMessage = true;
                }
                else if (group.Key == yesterday)
                {
                    dateLabel = "دیروز";
                }
                else
                {
                    dateLabel = group.Key.ToString("dddd، d MMMM yyyy", new System.Globalization.CultureInfo("fa-IR"));
                }


                var chatInDateLabel = @group.Key.ToString("yyyy-MM-dd");
                <h6 class="fw-normal text-center heading chatInDateLabelClass" data-label="@dateLabel" id="@dateClass">@dateLabel</h6>
                <ul class="message-box-list" id="chatMessages-@chatInDateLabel">
                   
                    @foreach (var message in group)
                    {
                        var isSelf = message.SenderUserId == selfUserId;
                        var hasRecorderFile = message.MessageFiles?.Any(f => f.FileExtension.Extension == ".webm") ?? false;
                        
                        object messageDetailsForEdit = new
                        {
                            messageText = message.MessageText?.MessageTxt,
                            replyToMessageId = message.ReplyMessageId,
                            // فقط در صورتی که پاسخ وجود دارد، اطلاعات آن را اضافه کن
                            replyMessage = message.ReplyMessageId != null ? new
                            {
                                senderUserName = message.ReplyMessage?.SenderUser?.NameFamily,
                                messageText = message.ReplyMessage?.MessageText?.MessageTxt
                            } : null,
                            // اطلاعات فایل‌ها را به صورت یک لیست از آبجکت‌ها اضافه کن
                            messageFiles = message.MessageFiles?.Select(f => new
                            {
                                messageFileId = f.MessageFileId, // شناسه فایل در دیتابیس
                                fileName = f.FileName,
                                fileThumbPath = f.FileThumbPath,
                                originalFileName = f.OriginalFileName,
                                FileSizeConverter = f.FileSize
                            })
                        };
                        var messageDetailsJson = JsonConvert.SerializeObject(messageDetailsForEdit);

                        <li class="message @(isSelf ? "personal" : "new")" id="message-@message.MessageId"
                            data-message-id="@message.MessageId"
                            data-sender-id="@message.SenderUserId"
                            data-sender-username="@message.SenderUser.NameFamily"
                            data-message-details='@Html.Raw(messageDetailsJson)'>

                            <!--message option menu-->
                            <div class="dropdown message-options">
                                <a class="btn" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <img src="~/chatzy/assets/iconsax/menu-meatballs.svg" alt="menu" />
                                </a>
                                <div class="dropdown-menu">
                                    @if (isSelf)
                                    {
                                        // اگر فایل ضبظ شده نبود میتونه ویرایش کنه
                                        if (!@hasRecorderFile)
                                        {
                                            <a class="dropdown-item d-flex align-items-center actionEditMessage" data-messageid="@message.MessageId" href="#">
                                                <img src="~/chatzy/assets/iconsax/edit.svg" alt="ویرایش" class="svgInvertColor" />&nbsp;
                                                <span>ویرایش</span>
                                            </a>
                                        }                                      
                                        

                                        <a class="dropdown-item d-flex align-items-center actionDeleteMessage" data-messageid="@message.MessageId" href="#">
                                            <img src="~/chatzy/assets/iconsax/trash.svg" />&nbsp;
                                            <span>حذف</span>
                                        </a>
                                    }
                                    <a class="dropdown-item d-flex align-items-center actionReplyMessage" data-messageid="@message.MessageId" href="#">
                                        <img src="~/chatzy/assets/iconsax/redo-arrow.svg" class="svgInvertColor" />&nbsp;
                                        <span>پاسخ دادن</span>
                                    </a>
                                    <a class="dropdown-item d-flex align-items-center actionSaveMessage" data-messageid="@message.MessageId" href="#">
                                        <img src="~/chatzy/assets/iconsax/save-2.svg" class="svgInvertColor" />&nbsp;
                                        <span>ذخیره</span>
                                    </a>

                                    @if (message.MessageFiles != null)
                                    {
                                        if (message.MessageFiles.Any(a => a.FileExtension.Extension == ".webm"))
                                        {
                                            var file = message.MessageFiles.First(a => a.FileExtension.Extension == ".webm");
                                            <a class="dropdown-item d-flex align-items-center btn-download-file" data-file-id="@file.MessageFileId" data-messageid="@message.MessageId" href="#">
                                                <img src="~/chatzy/assets/iconsax/save-2.svg" class="svgInvertColor" />&nbsp;
                                                <span>دانلود فایل</span>
                                            </a>
                                        }
                                    }

                                </div>
                            </div>
                            <!--/end message option menu-->


                            <div class="message-box @(message.IsReadByAnyRecipient ? "read" : "")">
                                @if (!isSelf)
                                {
                                    <img class="img-fluid person-img" src="~/assets/media/avatar/@message.SenderUser.ProfilePicName" alt="p9">
                                }
                                <div class="message-box-details">
                                    @if (message.ReplyMessageId != null)
                                    {
                                        <div class="reply-preview border p-2 rounded bg-light mb-2" style="cursor:pointer;" onclick="document.getElementById('message-@message.ReplyMessage?.MessageId')?.scrollIntoView({ behavior: 'smooth', block: 'center' });">
                                            <div class="text-muted small">پاسخ به: <strong>@message.ReplyMessage?.SenderUser.NameFamily</strong></div>
                                            <div class="text-truncate">@message.ReplyMessage?.MessageText?.MessageTxt</div>
                                        </div>
                                    }

                                    <h5>@Html.Raw(message.MessageText?.MessageTxt.Replace("\n", "<br />"))</h5>

                                    @if (message.MessageFiles != null)
                                    {
                                        <div class="row mt-1 overflow-hidden image-group">
                                            @foreach (var file in message.MessageFiles)
                                            {
                                                string fileTumbPath = System.IO.Path.Combine(_baseUrl, file.FileThumbPath);

                                                <div class="col file-attachment-item" data-file-id="@file.MessageFileId" style="display: flex; flex-direction: column;">
                                                    @if (AllowedImages.Contains(file.FileExtension.Extension, StringComparer.OrdinalIgnoreCase))
                                                    {
                                                        <img class="img-thumbnail chat-thumbnail"
                                                             src="@fileTumbPath"
                                                             data-original-filename="@file.OriginalFileName"
                                                             alt="@file.FileName"
                                                             style="max-height:150px; cursor:pointer;">

                                                    }
                                                    else if (file.FileExtension.Extension == ".webm")
                                                    {
                                                        <div class="audio-player-container">
                                                            <button class="voice-download-btn" data-file-id="@file.MessageFileId">
                                                                <img src="/chatzy/assets/iconsax/download.svg" class="download-icon" style="cursor:pointer; width: 24px; height: 24px;" alt="download">
                                                                <img src="/chatzy/assets/iconsax/spinner.svg" class="spinner-icon" style="display: none; width: 24px; height: 24px;" alt="loading">

                                                            </button>
                                                            
                                                            <div class="file-meta text-light mx-1 text-dark">@FileSizeConverter.ConvertToReadableSize(file.FileSize)</div>
                                                            <div class="voice-duration-display mx-1" style="margin-right: 15px;">صدای ضبط شده</div>
                                                            
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <i class="iconsax" data-icon="document-text-1" style="font-size: 3em;"></i>
                                                        @FileNameShorter.ShortenFileName(file.OriginalFileName ?? "")
                                                        <span>&nbsp;</span>
                                                        @FileSizeConverter.ConvertToReadableSize(file.FileSize)
                                                        <span style="max-width:35px;" class="btn-download-file btn btn-sm btn-light p-0" data-file-id="@file.MessageFileId" data-file-originalName="@file.OriginalFileName">

                                                            <img src="/chatzy/assets/iconsax/download.svg" class="download-icon" style="cursor:pointer; width: 24px; height: 24px;" alt="download">

                                                        </span>
                                                    }
                                                </div>
                                            }
                                        </div>
                                    }

                                    <div class="timing">
                                        <h6>@message.MessageDateTime.ToString("hh:mm")</h6>
                                        @if (isSelf)
                                        {
                                            <img class="img-fluid tick-all" src="~/chatzy/assets/images/svg/tick-all.svg" alt="tick" style="display: @(message.IsReadByAnyRecipient ? "inline" : "none");">
                                            <img class="img-fluid tick" src="~/chatzy/assets/images/svg/tick.svg" alt="tick" style="display: @(message.IsReadByAnyRecipient ? "none" : "inline");">
                                        }
                                    </div>
                                </div>
                            </div>
                        </li>
                    }
                </ul>
            }
        </div>
         <div class="chat-finished" id="chat-finished"></div>
    </div>
</section>
<!-- group chat section end -->

<!--  message input section starts -->
<div class="messages-panel">
    <!-- کانتینر برای بنرهای عملیاتی (پاسخ و ویرایش) -->
    <div class="action-banners-container">
        <div id="cancel-edit-container" class="force-hide">
            <a href="#" id="cancel-edit-button">انصراف</a>
            <div class="edit-indicator">
                <span class="edit-text">در حال ویرایش</span>
                <div class="edit-bar"></div>
            </div>
        </div>
        

        <div id="reply-to-container" style="display: none;">
           
            <div class="reply-indicator">
                <div class="reply-bar"></div>
                <div class="reply-content">
                    <!-- کانتینر تصویر کوچک (برای پیام‌های عکس) -->
                    <div id="reply-thumbnail-container"></div>

                    <!-- کانتینر جدید برای آیکون (برای صوت و فایل) -->
                    <span id="reply-icon-container"></span>

                    <!-- کانتینر برای متون -->
                    <div class="reply-text-content">
                        <span id="reply-to-user"></span>
                        <span id="reply-to-text"></span>
                    </div>
                </div>
                
            </div>
            <a href="#" id="cancel-reply">
                انصراف
            </a>
        </div>

    </div>

    <!-- کانتینر پیش‌نمایش فایل‌ها -->
    <div id="filePreviewContainer">        
        <!-- File previews will be dynamically inserted here -->
    </div>

    <!-- فرم اصلی ورود پیام -->
    <form onsubmit="return false;" class="message-form-container">
        <div id="text-input-area" class="message-inputarea">
            <a href="#" onclick="$('#fileInput').click(); return false;">
                <i class="iconsax icon-btn" data-icon="picture-add"> </i>
            </a>
            <a class="btn-record-voice">
                <i class="iconsax icon-btn" data-icon="mic-2"> </i>               
            </a>
            <textarea type="text" class="message-input" id="message-input" placeholder="Type here..." rows="1"></textarea>
            <a href="#" class="" id="send-message-button">              
                <i class="iconsax icon-btn" data-icon="send-btn1"> </i>
            </a>
        </div>
        <div id="voice-input-area" style="display: none;"></div>
        <input type="file" id="fileInput" multiple style="display: none;">
        <input type="hidden" id="uploadedFileIds" name="uploadedFileIds">
        <input type="hidden" id="previousFileIds" name="previousFileIds">
        <input type="hidden" id="deletUploadedFileIds" name="deletUploadedFileIds">
        <input type="hidden" id="message-context-id" value="">
        <input type="hidden" id="message-action-type" value="">
    </form>
</div>


<!--  message input section end -->


<script>
   
</script>
