@using System.Security.Claims
@using Messenger.Tools
@using Newtonsoft.Json
@model IEnumerable<MessageDto>
@{
    long selfUserId = long.Parse(User.FindFirst(ClaimTypes.NameIdentifier).Value);
    int classGroupId = 0;
    if (ViewData["classGroupId"] != null)
    {
        if (ViewData["classGroupId"] is int intValue)
        {
            classGroupId = intValue;
        }
        else if (int.TryParse(ViewData["classGroupId"].ToString(), out int groupId))
        {
            classGroupId = groupId;
        }
    }
    string[] AllowedImages = [".jpg", ".jpeg", ".png", ".gif", ".bmp", ".tiff", ".webp"];
    if (ViewData.ContainsKey("allowedImagesExtention"))
    {
        AllowedImages = ViewData["allowedImagesExtention"] as string[] ?? AllowedImages;
    }
    var _baseUrl = ViewData["baseUrl"]?.ToString() ?? "";
    var chatType = ViewData["chatType"]?.ToString() ?? "ClassGroup";
}
<input type="hidden" id="current-group-id-hidden-input" value="@classGroupId" />
<input type="hidden" id="current-group-type-hidden-input" value="@chatType" />

<!-- header starts -->
<header id="header" class=" section-t-space main-header inner-page-header">
    <div class="custom-container">
        <div class="header-panel contact-panel">
            <div class="d-flex align-items-center gap-2">
                <a href="#" id="close-chat-panel-btn">
                    <i class="iconsax icon-btn" data-icon="chevron-left"> </i>
                </a>
                <div class="profile-head">
                    <div class="profile-img">
                        <i class="iconsax" data-icon="group" style="font-size: 36px;"></i>
                    </div>
                    <div>
                        <h4 class="fw-semibold">@ViewData["ChatTitle"]</h4>
                        <small class="text-muted" id="typing-indicator-@classGroupId"></small>
                    </div>
                </div>
            </div>

            <div class="d-flex align-items-center gap-sm-3 gap-2">
                <div class="dropdown more-options dropdown-menu-end">
                    <a class="btn dropdown-toggle mt-0 p-0" href="#" role="button" data-bs-toggle="dropdown">
                        <i class="iconsax icon-btn" data-icon="menu-meatballs"> </i>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item align-items-center d-flex" href="#" onclick="GetChatMembers('@classGroupId', '@chatType')">
                                <i class="iconsax" data-icon="group"></i>&nbsp;
                                <span>اعضای گروه</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- header end -->
<!-- group chat section starts -->
<section class="section-lg-b-space position-relative pt-0" id="chat_content">
    <img class="img-fluid chat-bg" src="~/chatzy/assets/images/wallpaper/wallpaper0.png" alt="wallpaper">
    <div class="custom-container">
        <div id="Message_Days">
            @{
                var groupedMessages = Model.OrderBy(m => m.MessageDateTime).GroupBy(m => m.MessageDateTime.Date);
            }
            @foreach (var group in groupedMessages)
            {
                <h6 class="fw-normal text-center heading pt-4">@group.Key.ToString("dddd, d MMMM yyyy", new System.Globalization.CultureInfo("fa-IR"))</h6>
                <ul class="message-box-list" id="chatMessages-@group.Key.ToString("yyyy-MM-dd")">
                    @foreach (var message in group)
                    {
                        var isSelf = message.SenderUserId == selfUserId;
                        var messageDetailsJson = JsonConvert.SerializeObject(new { messageText = message.MessageText?.MessageTxt, replyToMessageId = message.ReplyMessageId, replyMessage = message.ReplyMessageId != null ? new { senderUserName = message.ReplyMessage?.SenderUser.NameFamily, messageText = message.ReplyMessage?.MessageText?.MessageTxt } : null, messageFiles = message.MessageFiles?.Select(f => new { messageFileId = f.MessageFileId, fileName = f.FileName, fileThumbPath = f.FileThumbPath, originalFileName = f.OriginalFileName, FileSizeConverter = f.FileSize }) });

                        <li class="@(isSelf ? "personal" : "new")" id="message-@message.MessageId"
                            data-message-id="@message.MessageId"
                            data-sender-id="@message.SenderUserId"
                            data-sender-username="@message.SenderUser.NameFamily"
                            data-message-details='@messageDetailsJson'>
                            <div class="message-box @(message.IsReadByAnyRecipient ? "read" : "")">
                                @if (!isSelf)
                                {
                                    <img class="img-fluid person-img" src="~/assets/media/avatar/@message.SenderUser.ProfilePicName" alt="p9">
                                }
                                <div class="message-box-details">
                                    @if (message.ReplyMessageId != null)
                                    {
                                        <div class="reply-preview border p-2 rounded bg-light mb-2" style="cursor:pointer;" onclick="document.getElementById('message-@message.ReplyMessage?.MessageId')?.scrollIntoView({ behavior: 'smooth', block: 'center' });">
                                            <div class="text-muted small">پاسخ به: <strong>@message.ReplyMessage?.SenderUser.NameFamily</strong></div>
                                            <div class="text-truncate">@message.ReplyMessage?.MessageText?.MessageTxt</div>
                                        </div>
                                    }

                                    <h5>@Html.Raw(message.MessageText?.MessageTxt.Replace("\n", "<br />"))</h5>

                                    @if (message.MessageFiles != null)
                                    {
                                        <div class="form-row mt-1">
                                            @foreach (var file in message.MessageFiles)
                                            {
                                                string fileTumbPath = System.IO.Path.Combine(_baseUrl, file.FileThumbPath);

                                                <div class="col file-attachment-item" data-file-id="@file.MessageFileId" style="display: flex; flex-direction: column;">
                                                    @if (AllowedImages.Contains(file.FileExtension.Extension, StringComparer.OrdinalIgnoreCase))
                                                    {
                                                        <a class="popup-media overflow-hidden" href="@fileTumbPath" target="_blank">
                                                            <img class="img-fluid rounded" width="100" src="@fileTumbPath" data-oroginal-fileName="@file.OriginalFileName" alt="@file.FileName" style="max-height:150px">
                                                        </a>
                                                    }
                                                    else if (file.FileExtension.Extension == ".webm")
                                                    {
                                                        <div class="audio-player-container">
                                                            <button class="voice-download-btn" data-file-id="@file.MessageFileId">
                                                                <i class="iconsax" data-icon="arrow-down-2"></i>
                                                                <i class="fa fa-spinner fa-spin"></i>
                                                            </button>
                                                            <div class="file-meta text-light mx-1 text-dark">@FileSizeConverter.ConvertToReadableSize(file.FileSize)</div>
                                                            <div class="voice-duration-display mx-1" style="margin-right: 15px;">صدای ضبط شده</div>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <i class="iconsax" data-icon="document-text-1" style="font-size: 3em;"></i>
                                                        @FileNameShorter.ShortenFileName(file.OriginalFileName ?? "")
                                                        <span style="min-width:75px;" class="btn-download-file" data-file-id="@file.MessageFileId" data-file-originalName="@file.OriginalFileName">
                                                            @FileSizeConverter.ConvertToReadableSize(file.FileSize)
                                                            <img src="/chatzy/assets/iconsax/arrow-down-2.svg" class="download-icon" style="cursor:pointer; width: 24px; height: 24px;" alt="download">
                                                            <img src="/chatzy/assets/iconsax/spinner.svg" class="spinner-icon" style="display: none; width: 24px; height: 24px;" alt="loading">
                                                        </span>
                                                    }
                                                </div>
                                            }
                                        </div>
                                    }

                                    <div class="timing">
                                        <h6>@message.MessageDateTime.ToString("hh:mm")</h6>
                                        @if (isSelf)
                                        {
                                            <img class="img-fluid tick-all" src="~/chatzy/assets/images/svg/tick-all.svg" alt="tick" style="display: @(message.IsReadByAnyRecipient ? "inline" : "none");">
                                            <img class="img-fluid tick" src="~/chatzy/assets/images/svg/tick.svg" alt="tick" style="display: @(message.IsReadByAnyRecipient ? "none" : "inline");">
                                        }
                                    </div>
                                </div>
                            </div>
                        </li>
                    }
                </ul>
            }
        </div>
         <div class="chat-finished" id="chat-finished"></div>
    </div>
</section>
<!-- group chat section end -->
<!--  message input section starts -->
<div class="messages-panel">
    <form onsubmit="return false;">
        <div id="chat-input-container" class="message-inputarea">
            <!-- The content of this div will be managed by chatHub.js -->
        </div>

        <input type="file" id="fileInput" multiple style="display: none;">
        <input type="hidden" id="uploadedFileIds" name="uploadedFileIds">
        <input type="hidden" id="previousFileIds" name="previousFileIds">
        <input type="hidden" id="deletUploadedFileIds" name="deletUploadedFileIds">
        <input type="hidden" id="message-context-id" value="">
        <input type="hidden" id="message-action-type" value="">
    </form>
</div>
<!--  message input section end -->
<div id="reply-to-container" class="replay-section">
    <!-- Reply preview will be injected here by JS -->
</div>
